<div id = "back_pocket">
	<% if BackPocket.pocketed?(current_owner, @restaurant) %>
		<%= link_to "Drop from Pocket", restaurant_back_pocket_path(@restaurant, type: "drop"), method: :put, class: "backpocket-drop btn", remote: true %>
	<% else %>
		<%= link_to "Pocket for later", restaurant_back_pocket_path(@restaurant, type: "add"), method: :put, class: "backpocket-add btn", remote: true %>
	<% end %>
	<p>Pocketed by <%= pluralize(@back_pocketed_by.count, 'person') %></p>
</div>